<h1 class="mt-4">All Products</h1>


<div class="row">
  <% @products.each do |product| %>
  <div class="col md-4 mt-3">
    <div class="card">
      <img src="<%= product["image_url"] %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= product["title"] %></h5>
        <p class="card-text">Price: <%= product["price"] %></p>
        <a href="/client/products/<%= product["id"] %>" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <% end %>
</div>






