<%= form_tag "/client/products", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <br>
  <div>
    Description: <input type="text" name="description">
  </div>
  <br>
  <div>
    Price: <input type="text" name="price">
  </div>
  <br>
  <div>
    Image URL: <input type="text" name="image_url">
  </div>
  <br>
  <div>
    Supplier ID: <input type="text" name="supplier_id">
  </div>
  <input type="submit" value="Create Product">
<% end %>